@import 'tailwindcss';
@theme {
  --breakpoint-nav: 1155px;
}
@plugin "daisyui" {
  themes: light --default, dark;
}
@plugin "daisyui/theme" {
  name: 'light';
  default: true;
  --color-primary: #028355;
  --color-secondary: teal;
}
